<% if @candidates %>
<div class="bordered-block clearfix">
	<h2>2. User's selection</h2>
	<%= render(partial: 'users/user_candidates', locals: {title: 'Current members', users: @candidates}) %>
</div>
<% end %>
