//
// variables & mixins for toolbar
//

$toolbar-bgcolor: #fff;
$toolbar-color: #272935;
$toolbar-hover-color: #0af;
$toolbar-disabled-color: #aaa;
$toolbar-height: 35px;
$sub-pane-toolbar-width: 240px;
