// Place all the styles related to the courseCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.smallContainer {
    width: 620px;
    background-color: white;
    margin: 0 auto;
}