//
// CSS for general purpose
//
:root {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

//bashboard
.fa-navicon {
  color: $primary-color;
}
#dashboard-resource {
  .block{
    margin: 0 auto;
  }
}

//signIn

@media screen and (min-width: 992px){
  #resource {

    left: -240px;

  }
}
.beforeSignIn{
  background-image: image-url("blurred-bg-9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  #sub-pane {
    display: none;
  }
  
  .signInContainer {
    display: table;
  }
  #resource {
    position: relative;
    top: -32px;
    
    width: 101vw;
    height: 105vh;
    overflow: hidden;
    background-color: transparent !important;
  }
  #main-toolbar {
    display: none;
  }
  #signin-resource {
    background-color: transparent !important;
    .col-md-10 {
      margin: 0 auto;
    }
    .block {
      display: table-cell;
      vertical-align: middle;
      .col-md-4 {
        background-color: white;
        padding: 35px 35px 25px 35px;
        border-radius: 3px;
        box-shadow: 2px 2px 6px 1px black;
        margin: 0 auto;
        h1 {
          color: $primary-color;
        }
      }

    }
  }
  #main-pane #resource .scroll-pane {
    background-color: transparent !important;
  }
}
   


@media screen and (min-width: 992px) {
  body::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
  }
  
  body::-webkit-scrollbar {
    width: 0.3em;
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid transparent;
  }
  
}

html {
  font-size: 14px;
  height: 100%;
  width: 100%;
  * {
    font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
  }
  body, #wrapper {
    height: 100%;
    line-height: 120%;
    width: 100%;
  }
}
