//
// CSS for general purpose
//
:root {
  overflow-x: hidden;
}
@media screen and (min-width: 992px) {
  body::-webkit-scrollbar {
    width: 1em;
    background-color: transparent;
  }
  
  body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid transparent;
  }
  
}

html {
  font-size: 14px;
  height: 100%;
  width: 100%;
  * {
    font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
  }
  body, #wrapper {
    height: 100%;
    line-height: 120%;
    width: 100%;
  }
}
